{% extends 'base.html' %}
{% load static %}

{% block contect %}
<img src="{% static 'drops.png' %}" width="100%" class="edit-drops-margins" />
<div class="container">
  <h1>Blog</h1>
  <form id="form_id" method='POST' action="{% url 'search_post' %}" class="">
    {% csrf_token %}
    <div class="form-group">
      <label >Find your favorite post</label>
      <input type="text" id="search_id" name="search_term" maxlength="255" class="form-control" value="{{ last_search }}">
      {% if message %}
      {% if msg_num > 1%}
      <div class="alert alert-warning mt-1" role="alert">
      {% else %}
      <div class="alert alert-success mt-1" role="alert">
      {% endif %}
      <ul>
        {% for msg in message %}
        <li><small id="emailHelp" class="form-text text-muted">{{ msg }}</small></li>
        {% endfor %}
      </ul>
      </div>
      {% endif %}
    </div>
    <button type='submit' class='btn btn-success'>Search</button>
    <a href="{% url 'blog' %}" class="btn btn-secondary">Show all</a>
  </form>
<hr>
{% for post in posts %}
  <div class="card text-center mt-3">
    <div class="card-header">
      <h4>
        {{ post.title }}
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.summary }}</p>
      <a href="{% url 'detail_post' post.id %}" class="btn btn-outline-success">Open Full Post</a>
    </div>
    <div class="card-footer text-muted">
      {{ post.post_date }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}