{% extends 'base.html' %}
{% load static %}

{% block contect %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Wanna be a programmer?</h1>
    <p class="lead">
      Jump right away and take advantage of a free programming tutorials filled with challenges and projects! ;)
    </p>
    <hr class="my-4">
    <p class="lead">
      {% if message %}
      {% if message_type == 'error' %}
    <div class="alert alert-danger mt-1" role="alert">
      {% elif message_type == 'success' %}
      <div class="alert alert-success mt-1" role="alert">
        {% endif %}
        <ul>
          {% for msg in message %}
          <li><small id="emailHelp" class="form-text text-muted">{{ msg }}</small></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <form method="post" action="{% url 'search_courses' %}">
        <div class="input-group mb-3">
          {% csrf_token %}
          <input type="text" name="search_value" class="form-control" placeholder="Search Courses, Videos and Content"
            aria-label="Search Courses, Videos and Content" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                  clip-rule="evenodd" />
              </svg>
            </button>
            <a class="btn btn-dark" href="{% url 'tutor_home' %}">
              <svg class="bi bi-collection-play" width="1em" height="1em" viewBox="0 0 16 16" fill="white"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14.5 13.5h-13A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5zm-13 1A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M6.258 6.563a.5.5 0 01.507.013l4 2.5a.5.5 0 010 .848l-4 2.5A.5.5 0 016 12V7a.5.5 0 01.258-.437z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container mb-5">
    <div class="album">
      <div class="row">
        {% for course in courses %}
        {% if course.is_active %}
        <div class="col-md-4 hover-card-effect">
          <a href="{% url 'detail_course' course.pk  %}" class="hover-card-effect text-muted text-decoration-none">
          {% else %}
        <div class="col-md-4 disabled-course">
          {% endif %}
            <div class="card mb-4 shadow-lg">
              <div class="pl-3 pt-2" style="background: #{{ course.course_color }}; height: 2.7rem;">
                <svg class="bi bi-book" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="white"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <div class="card-body pb-4">
                <h6 class="mb-0">{% if course.is_active == False %}<span class="disabled-course-title">Unavailable </span>{% endif %}Course</h6>
                <h5>{{ course.title }}</h5>
                <p class="card-text text-justify pb-2">{{ course.summary }}</p>
                <span class="border border-dark rounded-pill font-weight-bold pt-1 pb-1 pl-2 pr-2"
                  style="color: #{{ course.course_color }};">
                  {{ course.language }}
                </span>
              </div>
            </div>
            {% if course.is_active %}
          </a>
          {% endif%}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  <div class="container mb-5">
    <h1 class="display-4">Need help?</h1>
    <p class="lead">
      Search and see if someone has the same issue as you.
    </p>
    <hr class="my-4">
    <p class="lead">
      {% if message_qa %}
      {% if message_type == 'error_qa' %}
    <div class="alert alert-danger mt-1" role="alert">
      {% elif message_type == 'success_qa' %}
      <div class="alert alert-success mt-1" role="alert">
        {% endif %}
        <ul>
          {% for msg in message_qa %}
          <li><small id="emailHelpp" class="form-text text-muted">{{ msg }}</small></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <form method="post" action="{% url 'search_qa' %}">
        <div class="input-group mb-1">
          {% csrf_token %}
          <input type="text" name="search_value_qa" class="form-control" placeholder="Search Posts & Comments"
            aria-label="Search Posts & Comments" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon23">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="#17a2b8"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                  clip-rule="evenodd" />
              </svg>
            </button>
            <a class="btn btn-info" href="{% url 'tutor_home' %}">
              <svg class="bi bi-collection-play" width="1em" height="1em" viewBox="0 0 16 16" fill="white"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14.5 13.5h-13A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5zm-13 1A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M6.258 6.563a.5.5 0 01.507.013l4 2.5a.5.5 0 010 .848l-4 2.5A.5.5 0 016 12V7a.5.5 0 01.258-.437z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
        </div>
        <a href="#" class="btn btn-info mb-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
          Question
          <svg class="bi bi-plus-circle-fill" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z" />
          </svg>
        </a>
      </form>
      {% for post in posts %}
      <a href="{% url 'question_detail' post.pk %}" class="text-decoration-none text-muted">
        <div class="card mb-3 hover-card-effect">
          <div class="card-header">
            {{ post.title }}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0 text-justify">
              <p>{{ post.summary }}</p>
              <footer class="blockquote-footer"><cite title="Source Title">{{ post.person }}</cite></footer>
              </block quote>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ask Community</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="{% url 'create_post' %}">
            {% csrf_token%}
            <div class="modal-body">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="person" name="person">
              </div>
              <div class="form-group">
                <label for="recipient-Title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="form-group">
                <label for="recipient-link" class="col-form-label">GitHub Link (optimal):</label>
                <input type="text" class="form-control" id="source_link" name="source_link">
              </div>
              <div class="form-group">
                <label for="message-desc" class="col-form-label">Description:</label>
                <textarea class="form-control" id="body" name="body"></textarea>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}