{% extends 'base.html' %}
{% load static %}

{% block contect %}

<img src="{% static 'drops.png' %}" width="100%" class="edit-drops-margins"/>
<div class="container mb-5">
    <div class="row">
        <div class="text-center">
            <img src="{% static 'date.png' %}" alt="Date Photo" width="75%" height="95%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <div class="border border-success">
            <h1>Yes</h1>
                <h1>Smile</h1>
            </div>

        </div>
        <div class="col-6 text-center">
            <div class="border border-danger">
           <h1>No</h1>
                <h1>Backflip</h1>
</div>
        </div>
    </div>
</div>
{% endblock %}