{% extends 'base.html' %}
{% load static %}

{% block contect %}
<img src="{% static 'newcover.png' %}" width="100%" onContextMenu="return false;"/>
<div class="jumbotron jumbotron-fluid mb-0 my-edit-jumbo">
<div class="container">
    <h1>Filip Dimitrievski</h1>
    <p class="lead">Specialist in Python, Django, Django Rest Framework and Bootstrap.</p>
  </div>
</div>
<img src="{% static 'reddrops.png' %}" width="100%" class="edit-drops-margins"/>

<div class="album py-5">
    <div class="container" >
      <h3>Some of my latest work</h3>
      <hr>
      <div class="row" >
        {% for job in jobs %}
        <div class="col-md-4 hover-card-effect" >
         <a href="{% url 'job_detail' job.id %}" class="hover-card-effect text-muted text-decoration-none">
          <div class="card mb-4 shadow-sm">
            <img src="{{ job.image.url }}" width="100%" height="100%"/>
            <div class="card-body">
              <h5>{{ job.title }}</h5>
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
         </a>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}